In [1]:
import pandas as pd
import numpy as np
import os
import datetime
import time
from tqdm import tqdm

import math

from utils import utils,myplot

import warnings
warnings.filterwarnings('ignore')

from importlib import reload

In [3]:
#get track data
df = pd.read_csv(r'wifi_track_data\dacang\track_data\dacang_track_data_3_final_1218.csv')
df.t = pd.to_datetime(df.t)
df.drop(['oriMac','calender','mark'],axis=1,inplace=True)


#get cluster result
df_resi = pd.read_csv(r'wifi_track_data\dacang\cluster_data\dacang_track_data_resident.csv')
df_tour = pd.read_csv(r'wifi_track_data\dacang\cluster_data\dacang_track_data_tourist.csv')

#filter track data and add ID & id_cluster
df = df[df.m.isin(df_resi.mac.unique().tolist()+df_tour.mac.unique().tolist())]
df = df.reset_index(drop=True)
df['ID'] = [-1]*len(df)
df['id_cluster'] = [-1]*len(df)
for i,row in df.iterrows():
    if row.m in df_resi.mac.values:
        df.at[i,'ID'] = 0
        df.at[i,'id_cluster'] = df_resi[df_resi.mac==row.m].cluster.values[0]
    elif row.m in df_tour.mac.values:
        df.at[i,'ID'] = 1
        df.at[i,'id_cluster'] = df_tour[df_tour.mac==row.m].cluster.values[0]
macl_list = df.m.unique()

#get path & pos data
df_wifipos = pd.read_csv('wifi_track_data/dacang/pos_data/wifi_pos_new_3_1218.csv')
df_path = pd.read_csv('wifi_track_data/dacang/pos_data/path_pos.csv')

df.to_csv(r'wifi_track_data\dacang\track_data\dacang_track_data_4_clusterd_1220.csv',index=False)
df

,a,r,t,m,ID,id_cluster
0,95,-53,2022-07-06 00:00:02,"7.6-48,74,38,155,214,98",0,0
1,95,-31,2022-07-06 07:07:49,"7.6-48,74,38,155,214,98",0,0
2,19264,-44,2022-07-06 16:51:52,"7.6-48,74,38,155,214,98",0,0
3,5,-52,2022-07-06 18:55:03,"7.6-48,74,38,155,214,98",0,0
4,52142,-30,2022-07-06 19:15:05,"7.6-48,74,38,155,214,98",0,0
...,...,...,...,...,...,...
17323,48311,-51,2022-08-07 19:54:48,"8.7-144,173,247,200,14,93",1,2
17324,105,-32,2022-08-07 19:56:58,"8.7-144,173,247,200,14,93",1,2
17325,105,-32,2022-08-07 19:57:24,"8.7-144,173,247,200,14,93",1,2
17326,105,-34,2022-08-07 19:58:16,"8.7-144,173,247,200,14,93",1,2
17327,105,-35,2022-08-07 19:58:55,"8.7-144,173,247,200,14,93",1,2

In [15]:
df_resi = df[df.ID==0]
df_tour = df[df.ID==1]

In [16]:
myplot.Track2D_Restored(df,df_wifipos,df_path,show_freq=True,save='total')

 13%|█▎        | 142/1098 [06:06<1:06:11,  4.15s/it]

In [ ]:
myplot.Track2D_Restored(df_resi,df_wifipos,df_path,show_freq=True,save='resi')

In [ ]:
myplot.Track2D_Restored(df_resi[df_resi.id_cluster == 0],df_wifipos,df_path,show_freq=True,save='resi_0')

In [ ]:
myplot.Track2D_Restored(df_resi[df_resi.id_cluster == 1],df_wifipos,df_path,show_freq=True,save='resi_1')

In [ ]:
myplot.Track2D_Restored(df_resi[df_resi.id_cluster == 2],df_wifipos,df_path,show_freq=True,save='resi_2')

In [ ]:
myplot.Track2D_Restored(df_resi[df_resi.id_cluster == 3],df_wifipos,df_path,show_freq=True,save='resi_3')

In [ ]:
myplot.Track2D_Restored(df_tour,df_wifipos,df_path,show_freq=True,save='tour')

In [ ]:
myplot.Track2D_Restored(df_tour[df_tour.id_cluster == 0],df_wifipos,df_path,show_freq=True,save='tour_0')

In [ ]:
myplot.Track2D_Restored(df_tour[df_tour.id_cluster == 1],df_wifipos,df_path,show_freq=True,save='tour_1')

In [ ]:
myplot.Track2D_Restored(df_tour[df_tour.id_cluster == 2],df_wifipos,df_path,show_freq=True,save='tour_2')